body {
    background: rgb(255, 255, 240);
    color: rgb(10, 50, 175);
}

.progress-bar {
    background: rgb(203, 203, 203);
}

.progress {
    background: rgb(10, 50, 175);
}

.playlist-item {
    background-color: rgb(203, 203, 203);
}

.playing {
    background-color: rgb(10, 50, 175);
    color: rgb(255, 255, 240);
}

#play,
#pause {
    color: rgb(10, 50, 175);
}